html{
    overflow-x: hidden;
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body h1{
    font-weight: 600;
}



#nav{
    height: 5em;
    width: 100%;   
}

#nav ul{
    list-style-type: none;
    margin: 0 2em;
    padding: 0;
    overflow: hidden;
    float: right;
}

#nav li{
    float: left;
}

#nav li a{
    font-size: 1.1vw;
    display: block;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    color: #333;
}
#nav li a:hover{
    cursor: pointer;
    color: #F16A3A;
}

.blackNav{
    position: absolute;
    left: -1em;
    top: 0;
    width: 43%;
    height: 5em;
    background-color: rgb(29, 29, 29);
    transform: skewX(-20deg);
}

.blackNav img {
    margin-left: 3vw; 
    transform: skewX(20deg);
    position: relative;
    left: 13%;
    top: 10%;
    height: 4em;
}





/* TopContainer */
.topContainer{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(assets/2019/bg.png);
    background-size: 100% 100%;
}

.topContainer img{
    position: absolute;
    height: 42em;
    width: 100%;
    z-index: -1;
}

.topContainer .content pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;  
}

.whiteCircle{
    position: absolute;
    top: 10em;
    right: 9em;
    height: 17em;
    width: 17em;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/2019/visualiq.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

@media (max-width: 1080px) {
    .whiteCircle {
        width: 10em;
        height: 10em;
        top: 5em;
    }
}

.whiteCircle div{
    /* background-color: tomato; */
    width: 15vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #333
}
.whiteCircle div h1{
    font-size: 7vw;
}

.blackTag{
    background-color: rgb(29, 29, 29);
    position: absolute;
    right: -1em;
    bottom: 6.5em;
    height: 6.5em;
    width: 47%;
    height: 17%;
    transform: skewX(-20deg);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
        "mec1 ibeto2 excel3"
}

.blackTag img{
    transform: skewX(20deg);
    height: 5vw;
    width: auto;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}
#excel{
    grid-area: excel3;
    justify-self: start;
    height: 6vw;
    width: 8.2vw;
}
#ibeto{
   grid-area: ibeto2;
   height: 5vw;
   width: 7vw;
}
#mec{
    grid-area: mec1;
    justify-self: end;
}

.content{
    position: absolute;
    top: 4em;
    left: 6em;
    height: 27em;
    width: 47em;
    /* background-color: tomato; */
    color: white;
    padding: 5em 1em;
}

.content h1{
    line-height: 0.7em;
    font-size: 4vw;
    margin-top: 15px;
    font-weight: bold;
}

.content p{
    margin-top: 3em;
    line-height: 1.5em;
    font-size: 1.6vw; 
}

.ltext{
    font-size: 2.5vw;
    color: white;
}

.ltext2{
    font-size: 2vw;
    color: white;
}

.content button{
    margin-top: 1.7em;
    font-size: 1.4vw;
    font-weight: 500;
    height: 3em;
    width: 15em;
    color: white;
    background: none;
    border: 3px solid white;
    border-radius: 7px;
}
.content button:hover{
    cursor: pointer;
    color:orange;
    background: white;
}

.content button[disabled] {
    opacity: .6;
}


/* MID Container */
.midContainer{
    width: 100%;
    height: auto;
    display: grid;
    margin-bottom: 8em;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "box1 box1"
        "box2 box3";
}

.midContent{
    /* background-color: tomato; */
    grid-area: box1;
    padding: 2em 5em;
    line-height: 1.4em;
    font-size: 35px;
    color: #333;
}
.midContent p{
    
    font-size: 2vw;
    line-height: 130%;
}

.midImage{
    /* background-color: teal; */
    grid-area: box2;
    display: grid;
    text-align: center
}
#midImagecontentI{
    font-size: 7vw;
    justify-self: center;
    align-self: center;
    margin-bottom: 0.2em;
    color: #F16A3A;
}
#midImagecontent{
    align-self: center;
    justify-self: center;
    line-height: 1.5em;
    font-size: 2.2em;
    display: grid;
}
#imageline2{
    font-size: 4vw;
    font-weight: 500;
}

.midAddress{
    /* background-color: #333; */
    grid-area: box3;
    display: grid;
}
#midAddresscontent{
    align-self: center;
    justify-self: center;
    line-height: 1.5em;
    font-size: 2vw;
    display: grid;
}
#midAddresscontentI{
    font-size: 7vw;
    align-self: center;
    justify-self: center;
    margin-bottom: 0.2em;
    color: #F16A3A;
}
#line2{
    color: #F16A3A;
}







/* Details DIV */
.detailsDiv{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    /* background-color: rgb(255, 116, 61); */
    background-image: linear-gradient(to bottom right, rgb(233, 77, 4),rgb(255, 139, 61))
}

.details{
    padding: 3em 0 5em 3em;
    color: white;
    padding-left: 3em;
}
.details h1{
    font-size: 5vw;
}
.details li{
    line-height: 1em;
    padding: 0.7em;
    font-size: 25px;
}

.details li i{
    margin-right: 10px;
}

.detailImage{
    position: relative;
    float: right;
    margin-right: 3.5em;
    margin-top: auto;
    margin-bottom: auto;
    text-align: right;
}

.detailImage img{
    position: relative;
    float: right;
    width: 25em;
    height: 25em;
    text-align: right;
}

/* .detailImage i{
    font-size: 20vw;
    position: relative;
    float: right;
    top: 0.7em;
    left: -3em;
    color: white;
} */







/* Bottom Div */
.bottomDiv{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 0.8fr 3fr;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        "head head"
        "image content";
    margin-top: 3em;
}

.bottomHead{
    /* background-color: tomato; */
    grid-area: head;
    display: grid;
}
.bottomHead h1{
    justify-self: center;
    color: #333;
}

.bottomImage{
    /* background-color: teal; */
    grid-area: image;
    display: grid;
    padding-top: 5em;
}
.bottomImage h3{
    color: gray;
    line-height: 1;
}
.bottomImage div{
    justify-self: center;
    line-height: 1px;
    padding-left: 7em;
    padding-bottom: 8em;
}

.bottomContent{
    /* background-color: #333; */
    grid-area: content;
    padding-top: 1em;
    display: grid;
}

.bottomContent div{
    justify-self: center;
    line-height: 1px;
    /*  padding-left: 7em; */
    /* padding-bottom: 8em; */
}

.bottomContent div img{
    width: 30vw;
}










/* Prize Div */
.prizeDiv{
    width: 100%;
    height: 20vh;
    /* display: grid; */
    color: white;
    background-color: #F16A3A;
    /* padding-bottom: 1em; */
    /* grid-template-rows: 1.2fr 5fr; */
    /* grid-template-columns: auto auto auto; */
    /* grid-template-areas: 
        "prizeHead prizeHead prizeHead"
        "second first third"; */
}

.prizeHead{
    grid-area: prizeHead;
    /* background-color: tomato; */
    position: relative;
}
.prizeHead h1{
    justify-self: flex-start;
    position: absolute;
    left: 1.5em;
}

.second{
    grid-area: second;
    /* background-color: teal; */
    display: grid;
}
.secondBox{
    background: none;
    border: 5px solid white;
    border-radius: 7px;
    height: 65%;
    width: 75%;
    justify-self: center;
    align-self: center;
    position: relative;
    display: grid;
}
.secondBox .trophy{
    font-size: 9vw;
    justify-self: center;
    position: absolute;
    top: 0.6em;
}
.secondBox div{
    justify-self: center;
    align-self: center;
    font-size: 3vw;
    line-height: 1.3em;
    padding: 0;
    display: grid;
    margin-top: 5em;
}
.secondBox div span{
    justify-self: center;
}



.first{
    grid-area: first;
    /* background-color: yellow; */
    display: grid;
}
.firstBox{
    background: none;
    border: 5px solid white;
    border-radius: 7px;
    height: 85%;
    width: 85%;
    justify-self: center;
    align-self: center;
    display: grid;
    position: relative;
}
.firstBox .trophy{
    font-size: 13vw;
    justify-self: center;
    position: absolute;
    top: 0.5em;
}
.firstBox div{
    justify-self: center;
    align-self: center;
    font-size: 4vw;
    line-height: 1.3em;
    padding: 0;
    display: grid;
    margin-top: 5em;
}
.firstBox div span{
    justify-self: center;
}



.third{
    grid-area: third;
    /* background-color: #333; */
    display: grid;
}
.thirdBox{
    background: none;
    border: 5px solid white;
    border-radius: 7px;
    height: 65%;
    width: 75%;
    justify-self: center;
    align-self: center;
    position: relative;
    display: grid;
}
.thirdBox .trophy{
    font-size: 9vw;
    justify-self: center;
    position: absolute;
    top: 0.6em;
}
.thirdBox div{
    justify-self: center;
    align-self: center;
    font-size: 3vw;
    line-height: 1.3em;
    padding: 0;
    display: grid;
    margin-top: 5em;
}
.thirdBox div span{
    justify-self: center;
}




/* Prize Details */
.prizeDetails{
    height: auto;
    width: 100vw;
    background-color: #F16A3A;
    padding: 2em;
    color: white;
    padding-left: 7vw;
    padding-bottom: 4vw;
}
.prizeDetails li{
    padding: 0.5vw;
    font-size: 2vw;
}





/* FooterDiv */
.footerDiv{
    width: 100%;
    height: 50vh;
    padding-top: 2em;
    background-color: #333;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 4fr 2fr 2fr;
    grid-template-areas: 
        "logo ibeto excel"
        "brand brand brand";
}

.footerDiv a {
    color: white;
}


.logo{
    grid-area: logo;
    /* background-color: tomato; */
    color: white;
    display: grid;
}
.logo img{
    width: 15vw;
    justify-self: center;
    align-self: center;
}
.logo div{
    justify-self: center;
    margin: -1em;
}
.logo div a{
    color: white;
    font-size: 22px;
    padding: 0 1em;
}
.logo div a:hover{
    cursor: pointer;
}




.footerIbeto{
    grid-area: ibeto;
    /* background-color: teal; */
    display: grid;
}
.footerIbeto img{
    justify-self: center;
    align-self: center;
    height: 5em;
    cursor: pointer;
}
.footerIbeto div{
    justify-self: center;
    color: white;
    margin-top: -1em;
}




.footerExcel{
    grid-area: excel;
    /* background-color: #333; */
    display: grid;
}
.footerExcel img{
    justify-self: center;
    align-self: center;
    height: 5em;
    cursor: pointer;
}
.footerExcel div{
    justify-self: center;
    color: white;
    margin-top: -1em;
}




.Excelbrand{
    grid-area: brand;
    /* background-color: brown; */
    display: grid;
}
.Excelbrand span{
    align-self: center;
    justify-self: center;
    color: white;
}

.contactDiv {
    text-align: center;
    padding-bottom: 4em;
}
.contactDiv h1 {
    margin: 1em 0;
}
.contactBody{
    justify-content: space-between; 
}
.contactDiv .person {
    vertical-align: top;
    display: inline-block;
    width: 20%;
    margin: 3em 5em;
    
    
    /* padding: 1.5em; */
    /* border-radius: 5px;
    border: 1px solid lightgrey;
    text-align: center;      */
}
.contactDiv .person .photo {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
}
.contactDiv .person .photo img {
    width: 100%; 
}
.contactDiv .person .text {
    position: relative;
    float: initial;
    text-align: left;
    font-size: 1.1em;
    padding-top: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.contactDiv .person .text a {
    font-size: 1em;
}
.contactDiv .person .text a:hover {
    color: #F16A3A;
    font-size: 1em;
}
.contactDiv .person .text span {
    font-size: 1.2em;
}


.logosContainer {
    display: none;
}

.contactDiv .person .text i{
    transform: scaleX(-1);
}



/* Responsive - Mobile View */
@media(max-width: 768px){

    .logosContainer {
        display: block;
        justify-content: space-between;
        background-color: rgb(25,25,25);
        padding: 1em 0;
        text-align: center;
        width: 100%;
    }
    .logosContainer img.paytm {
        background-color: white;
        border-radius: 4px;
    }
    .logosContainer img {
        height: 4em;
        padding: 5px 5px;
        margin: 8px;
    }

    .blackNav {
        position: static;
        left: 0;
        top: 0;
        width: 100%;
        transform: none;
        text-align: center;
    }

    .blackNav img {
        margin-left: 0;
        height: 3.5em;
        transform: none;
        left: 0;
        top: 20%;
    }
    
    /* NavBar */
    #nav ul{
        /* background-color: tomato; */
        display: flex;
        justify-content: space-between;
        float: none;
        
    }

    #nav li{
        float: right;
    }

    #nav{
        height: auto;
    }

    #nav li a{
        font-size: 12px;
        padding: 15px 5px;
    }


    /* Top Container */
    .topContainer{
        height: min-content;  
    }
    .topContainer img{
        height: 100%;
        width: 100%;
    }
    .topContainer h1{
        /* font-size: 10vw; */
        line-height: 0
    }
    .topContainer .content p{
        font-size: 3.6vw;
    }

    .whiteCircle{
        /* height: 25%;
        width: 32%;
        top: 25%;
        right: 4%;
         */
        display: none;
    }
    .whiteCircle div h1{
        font-size: 11vw;
        padding-bottom: 9px;
    }
    
    .blackTag{
        /* width: 57%;
        height: 9%;
        top: 60%; */
        display: none;
    }
    .blackTag img{
        height: 60%;
        width: 70%;
    }
    #excel{
        height: 65%;
        width: 80%;
    }
    #ibeto{
        height: 70%;
        width: 67%;
    }

    .content{
        width: 100%;
        position: static;
    }
    .content h1{
        font-size: 1.7em;
        
    }
    .content p{
        font-size: 2.8vw;
    }
    .content button{
        font-size: 2.5vw;
        height: 20%;
        width: 60%;
        margin-top: 2em;
    }

    /* Mid Container */
    .midContainer{
        width: 100%;
        height: auto;
        display: grid;
        padding: 2em 2em 4em 2em;
        grid-template-rows: auto;
        grid-template-columns: auto auto auto auto;
        grid-template-areas:
            "box1"
            "box2"
            "box3";
        margin: 0;
    }

    .midContent{
        padding: 0;
        grid-area: box1;
        font-size: 3.8vw;
        display: grid;
    }

    .midContent h1{
        
        font-size: 8vw;
        font-weight: bold;
    }

    .midContent p{
        align-self: center;
        justify-self: center;
        line-height: 150%;
        font-size: 3.8vw;
    }

    .midImage{
        grid-area: box2;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        grid-template-areas: 
            "pic txt";
        margin-top: 2em;
        margin-bottom: 2em;
        justify-content: left;
    }
    #midImagecontent{
        position: relative;
        float:left;
        font-size: 4vw;
        text-align: left; 
        grid-area: txt;  

        margin-right: auto;
    }
    #midImagecontentI{
        
        position: relative;
        float:left;
        grid-area: pic; 
        font-size: 12vw;
        color: #F16A3A;
        vertical-align: middle; 
        margin: 0;
        margin-left: 12vw;
        margin-right: 4vw;
    }
    #imageline2{
        font-size: 6vw;
        font-weight: 500;
    }
    .midAddress{
        grid-area: box3;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        grid-template-areas: 
            "pic txt";
        justify-content: left;  
    }
    #midAddresscontentI{
        position: relative;
        float:left;
        /* padding: 0.1em; */
        grid-area: pic; 
        font-size: 12vw;
        color: #F16A3A;
        vertical-align: middle; 
        margin: 0;
        margin-left: 12vw;
        margin-right: 6vw;
        
    }
    
    #midAddresscontent{
        position: relative;
        float:left;
        font-size: 4vw;
        text-align: left; 
        grid-area: txt;  

        margin-right: auto;
        line-height: normal;
    }



    /* Details Div */
    .details{
        padding: 2em 2em 4em 2em;
    }
    .details li{
        font-size: 3.8vw;
    }
    .details h1{
        font-size: 8vw;
        font-weight: bold;
        padding-bottom: 2vw;
    }
    .ltext{
        font-size: 4vw;
        color: white;
    }
    .ltext2{
        font-size: 3.6vw;
        color: white;
        margin-right: auto;
        margin-left: auto;

    }
    .detailImage{
        /* left: -1em; */
        display: none;
    }


    /* Bottom Div */
    .bottomDiv{
        margin-top: 2em;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        grid-template-areas: 
            "head"
            "image"
            "content";
    }
    .bottomHead h1{
        font-size: 8vw;
        font-weight: bold;
        padding-bottom: 4vw;
    }
    .bottomImage{
        margin-top: 2em;
        padding: 0 2em;
        /* background-color: green; */
        margin-bottom: 1em;
    }
    .bottomImage div {
        padding: 0;
        /* background-color: #333; */
    }
    .bottomImage div img{
        width: 65vw;
    }
    .bottomContent{
        height: auto;
        padding-top: 3em;
        padding-bottom: 6em;   
        /* background-color: tomato; */
    }
    .bottomContent div img{
        width: 50vw;
        height: 20vh
    }


    /* PrizeDiv */
    .prizeDiv{
        margin-top: -3em;
        height: 10vh;
        /* grid-template-rows: auto auto auto; */
    }
    .prizeHead{
        margin-bottom: 7em;
    }
    .prizeHead h1{
        font-size: 9vw;
    }

    .prizeDiv .trophy {
        /* display: none; */
        position: static;
    }
    .prizeDiv .firstBox, .prizeDiv .secondBox, .prizeDiv .thirdBox {
        padding: 1.3em 0;
        height: auto;
    }
    .prizeDiv .firstBox div, .prizeDiv .secondBox div, .prizeDiv .thirdBox div {
        margin: 0;
        margin-top: 1em;
    }

    .contactDiv .person {
        width: 100%;
        margin: 1.4em 1.6em;
        text-align: left;
        vertical-align: middle;
    }
    .contactDiv .person .text{
        
        padding: 0%;
        margin: 0%;
        margin-left: 1.2em;
        margin-bottom: 0.8em;
        display: inline-block;
        font-size: 3.5vw;   
    }

    

    .contactDiv .person .photo{
        display: inline-block;
        /* float: left; */
        width: 30%;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        margin: 0%;
    }
    .contactDiv h1{
        margin-top: 1em;
        margin-bottom: 0.5em;
    }


    /* Prize Details */
    .prizeDetails li{
        font-size: 1.2em;
    }


    /* Footer */
    .footerDiv{
        height: 30vh;
    }
    .logo img{
        display: none;
    }
    .logo div {
        margin-top: 1em;
    }
    .logo div span {
        display: block;
    }
    .logo div a{
        font-size: 1.2em;
        padding: 0 8px;
    }
    .footerIbeto img{
        height: 3em;
    }
    .footerIbeto div{
        font-size: 8px;
    }
    .footerExcel {
        margin: 0 1em;
    }
    .footerExcel img{
        height: 3em;
    }
    .footerExcel div{
        font-size: 8px;
    }

}

.other-sponsors {
    text-align: center;
    padding-bottom: 5em;
}

.other-sponsors h5 {
    font-weight: bold;
}

.other-sponsors img {
    height: 140px;
}

.other-sponsors.sponsor-ksum {
    grid-area: logo1;
}
.other-sponsors.sponsor-tnie {
    grid-area: logo2;
}
.other-sponsors.sponsor-ewnture {
    grid-area: logo3;
}